pre {
	background: rgb(51, 51, 51); border-width: 1px 0px; border-style: solid; border-color: rgb(221, 221, 221); margin: 1em 0px; padding: 1em 2%; border-radius: 4px; color: rgb(204, 204, 204); line-height: 20px; overflow: auto; font-size: 14px; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.highlight {
	background: rgb(51, 51, 51); border-width: 1px 0px; border-style: solid; border-color: rgb(221, 221, 221); margin: 1em 0px; padding: 1em 2%; border-radius: 4px; color: rgb(204, 204, 204); line-height: 20px; overflow: auto; font-size: 14px; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
.gist {
	background: rgb(51, 51, 51); border-width: 1px 0px; border-style: solid; border-color: rgb(221, 221, 221); margin: 1em 0px; padding: 1em 2%; border-radius: 4px; color: rgb(204, 204, 204); line-height: 20px; overflow: auto; font-size: 14px; text-shadow: none; -webkit-border-radius: 4px; -moz-border-radius: 4px;
}
code {
	background: rgb(238, 238, 238); margin: 0px 2px; padding: 0px 5px; border: 1px solid rgb(214, 214, 214); border-image: none; font-size: 90%; white-space: normal; -ms-word-break: break-all; -ms-word-wrap: break-word; text-shadow: 0px 1px #fff;
}
.highlight .gutter pre {
	width: 100%; text-align: left; color: rgb(102, 102, 102); padding-right: 20px;
}
pre {
	font-family: Menlo,"Bitstream Vera Sans Mono","DejaVu Sans Mono",Monaco,Consolas,monospace;
}
code {
	font-family: Menlo,"Bitstream Vera Sans Mono","DejaVu Sans Mono",Monaco,Consolas,monospace;
}
pre code {
	background: 0px; padding: 0px; text-shadow: none;
}
.highlight pre {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; white-space: pre;
}
.highlight table {
	margin: 0px; width: auto;
}
.highlight td {
	padding: 0px; border: 0px currentColor; border-image: none;
}
.container .gist .gist-file {
	margin: 0px; border: 0px currentColor; border-image: none; font-family: Menlo,"Bitstream Vera Sans Mono","DejaVu Sans Mono",Monaco,Consolas,monospace;
}
.container .gist .gist-file .gist-data {
	background: 0px; border: 0px currentColor; border-image: none;
}
.container .gist .gist-file .gist-data .line-numbers {
	background: 0px; border: 0px currentColor; border-image: none; text-align: left; color: rgb(102, 102, 102); padding-right: 20px;
}
.container .gist .gist-file .gist-data .line-data {
	padding: 0px !important;
}
.container .gist .gist-file .highlight {
	margin: 0px; padding: 0px; border: 0px currentColor; border-image: none;
}
.container .gist .gist-file .gist-meta {
	background: rgb(51, 51, 51); font: 0.85em/normal "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 0px; color: rgb(153, 153, 153); margin-top: 1em; margin-left: 20px; font-size-adjust: none; font-stretch: normal;
}
.container .gist .gist-file .gist-meta a {
	color: rgb(37, 143, 184); font-weight: normal;
}
.container .gist .gist-file .gist-meta a:hover {
	text-decoration: underline;
}
.highlight figcaption {
	color: rgb(153, 153, 153); line-height: 1em; font-size: 0.85em; margin-bottom: 1em; -ms-zoom: 1;
}
.highlight figcaption::before {
	display: table; content: "";
}
.highlight figcaption::after {
	display: table; content: "";
}
.highlight figcaption::after {
	clear: both;
}
.highlight figcaption a {
	float: right;
}
pre .comment {
	color: rgb(153, 153, 153);
}
pre .title {
	color: rgb(153, 153, 153);
}
pre .variable {
	color: rgb(242, 119, 122);
}
pre .attribute {
	color: rgb(242, 119, 122);
}
pre .tag {
	color: rgb(242, 119, 122);
}
pre .regexp {
	color: rgb(242, 119, 122);
}
pre .ruby .constant {
	color: rgb(242, 119, 122);
}
pre .xml .tag .title {
	color: rgb(242, 119, 122);
}
pre .xml .pi {
	color: rgb(242, 119, 122);
}
pre .xml .doctype {
	color: rgb(242, 119, 122);
}
pre .html .doctype {
	color: rgb(242, 119, 122);
}
pre .css .id {
	color: rgb(242, 119, 122);
}
pre .css .class {
	color: rgb(242, 119, 122);
}
pre .css .pseudo {
	color: rgb(242, 119, 122);
}
pre .number {
	color: rgb(249, 145, 87);
}
pre .preprocessor {
	color: rgb(249, 145, 87);
}
pre .built_in {
	color: rgb(249, 145, 87);
}
pre .literal {
	color: rgb(249, 145, 87);
}
pre .params {
	color: rgb(249, 145, 87);
}
pre .constant {
	color: rgb(249, 145, 87);
}
pre .class {
	color: rgb(153, 204, 153);
}
pre .ruby .class .title {
	color: rgb(153, 204, 153);
}
pre .css .rules .attribute {
	color: rgb(153, 204, 153);
}
pre .string {
	color: rgb(153, 204, 153);
}
pre .value {
	color: rgb(153, 204, 153);
}
pre .inheritance {
	color: rgb(153, 204, 153);
}
pre .header {
	color: rgb(153, 204, 153);
}
pre .ruby .symbol {
	color: rgb(153, 204, 153);
}
pre .xml .cdata {
	color: rgb(153, 204, 153);
}
pre .css .hexcolor {
	color: rgb(102, 204, 204);
}
pre .function {
	color: rgb(102, 153, 204);
}
pre .python .decorator {
	color: rgb(102, 153, 204);
}
pre .python .title {
	color: rgb(102, 153, 204);
}
pre .ruby .function .title {
	color: rgb(102, 153, 204);
}
pre .ruby .title .keyword {
	color: rgb(102, 153, 204);
}
pre .perl .sub {
	color: rgb(102, 153, 204);
}
pre .javascript .title {
	color: rgb(102, 153, 204);
}
pre .coffeescript .title {
	color: rgb(102, 153, 204);
}
pre .keyword {
	color: rgb(204, 153, 204);
}
pre .javascript .function {
	color: rgb(204, 153, 204);
}
