@media all and (min-width:1200px)
{
.page .entry .thumbnail {
	width: 300px; float: right;
}
}
@media all and (max-width:1199px) and (min-width:980px)
{
.page .entry .thumbnail {
	width: 31.62%; float: right;
}
}
@media all and (max-width:979px) and (min-width:768px)
{
.page .entry .thumbnail {
	width: 200px; float: right;
}
}
@media all and (max-width:767px) and (min-width:481px)
{
.page .entry .thumbnail {
	width: 31.49%; float: right;
}
}
@media all and (max-width:480px)
{
.page .entry .thumbnail {
	margin-left: 0px;
}
}
