h2 {
    color: #C09853 !important;
}

.headerlink {
    word-break: break-all !important;
}

h3 {
    color: #FEFE54 !important;
}

* {
    cursor: url(/img/mouse.ico), auto;
}


.navbar-header {
    margin-right: 0px !important;
    line-height: 20px !important;
}

.icon-bar {
    height: 4px !important;
}

blockquote {
    text-align: left !important;
    /* background-color: #FAF3EB !important; */
    color: rgba(0, 0, 0, .45) !important;

    background-color: #EAF2DA !important;
    color: #777777 !important;

    border: 3.5px dotted rgba(0, 0, 0, .15) !important;
}

.topimg {
    z-index: 9999;
}

@media screen and (max-width: 768px) {
    h2 {
        overflow-x: scroll;
    }

    body {
        background-color: white !important;
    }

    .topimg {
        z-index: 1;
    }

    .nav {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 1em;
    }

    .navbar-nav {

        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding-left: 1em;


    }

    .navbar-nav li {
        padding: .5em;
        padding-bottom: .5em;
        background: rgba(96, 115, 57, .95) !important;
    }

    .navbar-nav li:first-child {
        padding-top: 2em;
        margin-top: 1.8em;
    }

    .navbar-nav li:last-child {
        padding-bottom: 1em;
    }
}

:not(.fa) {
    /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-family: 微软雅黑; */
    /* font-family: Trebuchet MS; */
    /* font-family: Tahoma;
    font-family: Verdana; */
    /* font-family: Helvetica; */
    /* font-family: Arial; */
    font-family: Lucida Family;
}

h3::before {
    content: none;
}

h3::after {
    content: none;
}

/*修改样式--begin*/

body {
    /* background-color: #E9E9E9; */
    background-color: black;
    background-image: url("/img/n6.jpg");
    background-repeat: repeat;
    background-size: cover;
    z-index: -1 !important;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 1;
    filter: "grayscale(100%)";
    color: #31332E !important;
    position: fixed;
}


.music-player>iframe {
    margin: 0;
    padding: 0;
    height: 80px;
    width:86px;
    /* width: 350px;
    height: 450px; */
    margin-top: -1.2em;
    position: fixed;
    z-index: 9999;
    float: right;
    right: 0;
    bottom:5px;
}

.player {
    box-shadow: none !important;
}

.navbar {
    background-color: #607339 !important;
    background: transparent !important;
    box-shadow: -1px 1px 1px rgba(255, 255, 255, .5);
}

.container {
    background: rgba(255, 255, 255, .7) !important;
    background-color: white !important;
    padding: 0px;

}

#main-nav .container {
    /* background-color: #607339 !important;   */
    background: transparent !important;
    height: 40px;    
    padding-top:8px;
    padding-right:8px;
}

.content {
    background: rgba(255, 255, 255, .55) !important;
    background: rgba(255, 255, 255, .85) !important;
    /* background: transparent !important; */
    height: 100vh;
    overflow-y: scroll;
    margin: 0px;
    width: 100%;
    padding: 10px;
    padding-top: 1.5em !important;

}

/* .content:hover {
    background: rgba(255, 255, 255, 1) !important;
} */

/*修改滚动条的样式-begin*/
.content::-webkit-scrollbar {
    width: 8px;
}

.content::-webkit-scrollbar-thumb {
    background-color: #2C400F;
    border-radius: 5px;
}

.content::-webkit-scrollbar-track {
    background-color: transparent;
    background-color: #F0E1CC;
    background: transparent;
    box-shadow: 2px -2px 2px gray;
}

/*修改滚动条的样式-end*/

.navbar-brand {
    color: white !important;
}

.navbar li a {
    color: white !important;
}

.navbar-brand:hover,
.navbar li a:Hover {
    /* color: #9A3535 !important; */
    color: #2D4110 !important;
    background-color: white !important;
}

.btn {
    box-shadow: none;
    cursor: pointer;
    background-color: #7AA621;
    color: white;
    padding: 1px;
    box-shadow: -2px 1px rgba(255, 255, 255, .1);
}

footer a {
    color: #7AA621 !important;
}

footer a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.list-unstyled li a {
    color: black
}

blockquote {
    border-radius: 3px;
    border-left: none;
    box-shadow: none;
    color: black;
    border: 1px solid rgba(0, 0, 0, .05);
}

h3 {
    color: black !important;
}


.widget {
    background-color: white;
    padding-left: .25em;

}

.widget h4 {
    text-shadow: -2px -2px rgba(0, 0, 0, .025);
    padding-left: .3em;
}


.tag_box li a {
    background-color: #EAF2DA;
}

.widget li a:hover {
    background-color: transparent;
    text-decoration: underline;
    color: black;
}

.slogan {
    color: #7AA621;
    text-shadow: 1px -1px rgba(0, 0, 0, .05);
    font-size: 1.02em;
    font-style: italic;


    background: -webkit-gradient(linear, left top, right top, color-stop(0, #EAAA3C), color-stop(.4, #A91E50), color-stop(.5, white), color-stop(.6, #EAAA3C), color-stop(1, #9A3535));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: animate 8s infinite;
}

/* 兼容写法，要放在@keyframes前面 */
@-webkit-keyframes animate {

    /* 背景从-100px的水平位置，移动到+100px的水平位置。如果要移动Y轴的，设置第二个数值 */
    from {
        background-position: -50px;
    }

    to {
        background-position: 300px;
    }
}

@keyframes animate {
    from {
        background-position: -50px;
    }

    to {
        background-position: 300px;
    }
}


.article-title a {
    color: rgba(0, 0, 0, .75);
    text-shadow: -2px -2px #E9E9E9;
}

.article-title a:hover {
    background-color: transparent;
    padding-left: 1px;
    text-decoration: underline;
    color: #7AA621;
}

.title {
    height: 50px;
    line-height: 50px !important;
    color: #7AA621 !important;
}


.more {
    float: right;
}

.st-search-input {
    background-color: white !important;
    height: 35px;
    border: 1px solid rgba(0, 0, 0, .05);
    padding-left: 5px;
}

.st-search-input:focus {
    box-shadow: 0px 2px gray;
}

.content {
    background-color: white;
}

.page-header {
    border-bottom: 3px dotted rgba(0, 0, 0, .2);
    width: 100%;
    margin-left: 0;
    padding-left: 0;
}

#gotop {
    background-color: #00AA00;
}

#gotop span:hover {
    color: white;
}

.listing-item span a {
    color: black;
}

.listing-item span a:hover {
    background-color: transparent;
    text-decoration: underline;
    color: #E5975C;
    padding-left: 1px;
}

p a {
    color: #AA5500;
}

p a:hover {
    background-color: transparent;
    color: #E5975C;
    text-decoration: underline;
}

.row h4 {
    color: #00AA00;
}

.row h4 a {
    color: #AA5500;
}

.row h4 a:hover {
    background-color: transparent;
    text-decoration: underline;
}

.navbar-toggle {
    border: 2px solid white !important;
    padding: 1px;
}

tr td a {
    color: #E5A4BB;
}

* {
    /* cursor: url(../assets/img/mouse.png), auto; */
    transition: height 1s ease-in, background-color .5s ease-in, filter .5s ease-in, height .5s ease-out, width .5s ease-out, box-shadow .3s ease-out, color .1s ease-in, margin-left .3s ease-out, margin.3s ease-out, padding.3s ease-out;
    ;
}

.meta-widget .fa {
    color: #E5975C;
}

a {
    word-wrap: break-word;
}

/*修改样式end*/