h2 {
    color: #C09853 !important;
    overflow-x: scroll;
    word-wrap: break-word !important;
}

.headerlink {
    word-break: break-all !important;
}

h3 {
    color: #FEFE54 !important;
}


.container{
    /* padding:10px;           */
}
.navbar-header{
    margin-right:0px !important; 
    line-height:20px !important ;   
}
.icon-bar{    
    height:4px !important;
}
.content {    
    margin: 0px;
    width: 100%;
    padding:10px;
    margin-top:1.5em;
}

blockquote {
    background-color: #E6F7FF;
    color: #F29766;
    border-radius: 3px;
    border-left: none;
    box-shadow: -2px 2px 2px gray;
}

.writer-name {
    color: white;
}

#login-name-text {
    color: red !important;
}

.i-drop-b {
    color: red !important;
}

.reply-content {
    color: orange !important;
}

.more:hover {
    cursor: pointer;
}

.reply-content {
    color: orange !important;
}

.reply-content p {
    color: orange !important;
}

#list {
    background-color: white !important;
}

.reply-wrapper {
    background-color: white !important;
}

/* h2,
h3 {
    overflow-wrap: break-word !important;
    word-break:break-all !important;
}

a {
    overflow-wrap: break-word !important;
    word-break:break-all !important;
} */